<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>

  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ title }}">
  <meta property="og:url" content="{{ page.url | url }}">

  {% assign ogImage = content | extractYoutubeThumbnail %}
  {% if ogImage != "" %}
    <meta property="og:image" content="{{ ogImage }}">
    <meta name="twitter:image" content="{{ ogImage }}">
    <meta name="twitter:card" content="summary_large_image">
  {% else %}
    <meta name="twitter:card" content="summary">
  {% endif %}
</head>

<body>
  <article>
    {{ content }}
  </article>
</body>
</html>
