name: Build and Deploy Static Site

on:
  schedule:
    - cron: "0 */6 * * *"  # every 6 hours
  push:
    branches:
      - main

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Fetch Blogger posts
        run: node fetch.js

      - name: Build Eleventy site
        run: npx @11ty/eleventy

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.GH_PAT }}
          publish_dir: _site
          publish_branch: gh-pages
          keep_files: false

      - name: Ping Google
        run: curl https://www.google.com/ping?sitemap=https://justingerad05.github.io/reviewlab-static/sitemap.xml

